@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Playfair+Display:wght@400;500&display=swap');

footer {
    text-align: center;
    border: 1px solid black;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
